<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder location="classpath:sport.properties"/>


    <bean id="myCoach"
    class="com.luv2code.springdemo.TennisCoach" scope="singleton">
    </bean>
    
    <bean id="myFortune"
    class="com.luv2code.springdemo.HappyFortuneService" scope="singleton">
    </bean>
    
     <bean id="myCoach2"
    class="com.luv2code.springdemo.TrackCoach" scope="singleton">
    <constructor-arg ref="myFortune"/>
    </bean>
    
    <bean id="myCoach3"
    class="com.luv2code.springdemo.CricketCoach" scope="singleton">
    <property name="fortuneSurvice" ref="myFortune"/>
    </bean>
    
    <bean id="myCoach4"
    class="com.luv2code.springdemo.CricketCoach" scope="singleton">
    <property name="fortuneSurvice" ref="myFortune"/>
    <property name="email" value="${email}"/>
    <property name="team" value="${name}"/>
    </bean>
    
</beans>





